
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SRC ADMİN | @RenderSection("title", false)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Mesaj/MesajListe" class="nav-link">Gelen Mesaj</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin/SifreDegistir" class="nav-link">Şifre Değiştir</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Diger/SiteAyar" class="nav-link">Site Ayar</a>
                </li>
            </ul>
          
   
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Anasayfa/Index" class="brand-link">
                <img src="/dist/img/AdminLTELogo.png" alt="Yasin SARICA" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">SRC ADMİN Betav1.0</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <i class="nav-icon far fa-hand-paper"></i>                   
                     </div>
                    <div class="info">
                        @Html.Action("Ad","Diger")
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                   
                        <li class="nav-item">
                            <a href="/Hakkimda/Hakkimda" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Hakkimda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Özgeçmiş Ayarları
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/CV/EgitimEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Eğitim Ayar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/CV/DeneyimEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Deneyim Ayar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/CV/YetenekEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yetenek Ayar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/CV/HobiEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hobi Ayar</p>
                                    </a>
                                </li>
                           
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Portfoy Ayar
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Portfoy/pKategoriEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Portfoy Kategori Ayar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Portfoy/PortfoyEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Portfoy Ayar</p>
                                    </a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Blog Ayar
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Blog/bKategoriEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog Kategori Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Blog/BlogEkle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog Ekle</p>
                                    </a>
                                </li>
                    
                            </ul>
                        </li>
                      
                        <li class="nav-header">DİĞER</li>
                        <li class="nav-item">
                            <a href="/Hizmet/Ekle" class="nav-link">
                                <i class="nav-icon far fa-plus-square"></i>
                                <p>
                                    Hizmet Ayar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/SosyalEkle" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Sosyal Medya Ayar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/YorumEkle" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Yorum Ayar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/SurecListe" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Süreç Ayar
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">ETKİLEŞİM</li>
                        <li class="nav-item">
                            <a href="/Mesaj/MesajListe" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>Gelen Mesaj</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/SifreDegistir" class="nav-link">
                                <i class="nav-icon far fa-edit"></i>
                                <p>Şifre Değiştir</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/SiteAyar" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>Site Ayar</p>
                            </a>
                        </li>
                       
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@RenderSection("baslik", false)</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@RenderSection("sitemap", false)</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        @RenderBody()
                
                    </div>
                    <!-- /.row -->
                   
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.0-rc.1
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <script>
  $(function () {
    $("#example1").DataTable();
  });
        </script>
    @RenderSection("script", false)
</body>
</html>
